body {padding:10px}

.background {
	height: 2000px;
	width: 100%;
}

.my-special-div {
    position: fixed;
    width: 350px;
    height: 350px;
}


img {
	height: 400px;
	width: 400px;
}

.header {
	position: absolute;
	font-family: monospace;
	margin-top: 100px;
	margin-left: 25px;
	max-width: 25ch;
}

.route {
	position: absolute;
	font-family: monospace;
	margin-top: 155px;
	margin-left: 10px;
	max-width: 25ch;
}