body {padding:10px}

.background {
	height: 1200px;
	width: 100%;
}

.top {
	position: relative;
	height: 75px;
}

.middle {
	position: relative;
	height: 100px;
}

.my-special-div {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 350px;
    margin: 50px;
}


img {
	height: 400px;
	width: 400px;
}

.header {
	position: fixed;
	top: 30px;
    left: 50px;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	max-width: 30ch;
}

.header2 {
    position: fixed;
    bottom: 0;
    left: 30px;
    width: 120px;
    color: #1842e2;
    font-family: BROWN;
}

.route {
	position: absolute;
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	margin-top: 155px;
	margin-left: 10px;
	max-width: 25ch;
	color: red;
}